In [1]:
import tensorflow as tf
import pandas as pd
import efficientnet.tfkeras
from tensorflow.keras.models import load_model
import efficientnet.keras

Using TensorFlow backend.

In [2]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28, 1) (60000, 10)

독립 = 독립[0:150]
종속 = 종속[0:150]
print(독립.shape, 종속.shape)

In [4]:
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size = 5, activation = 'swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Conv2D(6, kernel_size = 5, activation = 'swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation = 'swish')(H)
Y = tf.keras.layers.Dense(10, activation = 'softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics=['accuracy']) # , metrics='accuracy'

In [ ]:
model.fit(독립, 종속, epochs=40)

Train on 60000 samples
Epoch 1/40
60000/60000 [==============================] - 17s 276us/sample - loss: 0.6841 - acc: 0.8776
Epoch 2/40
60000/60000 [==============================] - 19s 311us/sample - loss: 0.1395 - acc: 0.9604
Epoch 3/40
60000/60000 [==============================] - 20s 332us/sample - loss: 0.1119 - acc: 0.9678
Epoch 4/40
54080/60000 [==========================>...] - ETA: 2s - loss: 0.0971 - acc: 0.9716

In [ ]:
model.summary()

In [66]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)

In [67]:
print(독립.shape, 종속.shape)

(60000, 28, 28, 1) (60000, 10)

In [68]:
pred = model.predict(독립[-5:])
pd.DataFrame(pred).round(3)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [69]:
종속[-5:]

       0  1  2  3  4  5  6  7  8  9
59995  0  0  0  0  0  0  0  0  1  0
59996  0  0  0  1  0  0  0  0  0  0
59997  0  0  0  0  0  1  0  0  0  0
59998  0  0  0  0  0  0  1  0  0  0
59999  0  0  0  0  0  0  0  0  1  0